@media only screen and (min-width: 64em) {

/*-----Weather Gallery Grid-----*/
    div.weatherGallery {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1500px;
        margin: auto;
    }
    div.weatherGallery figure:hover {
        box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    }

}