/*DEFAULT OR SMALL SIZES*/

@media (min-width: 0) {

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    height: 100%;
}

html {
    height: 100%;
}

main {
    min-height: 30%;
}

a {
    text-decoration: none;
}

/*HEADER*/
header {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 60px;
}

header img {
    max-width: 40px;
    padding-top: 20px;
    vertical-align: top;
    margin-right: 10px;
}

header h1 {
    color: #197BBD;
    font-family: 'Candal', sans-serif;
    font-size: 1.6em;
    margin-bottom: 0;
}

.subheading {
    color: #222e50;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    margin-bottom: 20px;
}

/*NAVIGATION*/
nav {
    background-image:
        linear-gradient(to right,
        #222E50, #197BBD);
    font-family: 'Candal', sans-serif;
    text-align: center;
}

nav button {
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

nav ul li a {
    padding: 12px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

nav li.active {
    background-color: #79B473;
}

nav ul li a:hover {
    background-color: #197BBD;
    transition: 1s;
}

nav ul.hide {
    display: none;
}

/*HERO IMAGE*/
main h2 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 1.8em;
    padding: .3rem 2%;
    text-align: center;
    margin-bottom: 0;
}

section.hero {
    position: relative;
}

img.myphoto {
    width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SUMMARY */
div#summary {
    background-color: #79B473;
    opacity: 0.9;
    position: absolute;
    top: 30px;
    left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

div#summary h3 {
    margin-bottom: 5px;
    font-family: 'Candal', sans-serif;
    color: #222E50;
    font-size: .9rem;
    padding: 0px 10px 7px 10px;
    border-bottom: 4px solid #222e50;
}

div#summary p {
    font-family: 'Lato', sans-serif;
    padding: 0 10px;
    font-size: .9rem;
    padding-bottom: 10px;
    margin: 0;
}
div#summary:hover {
    opacity: 1;
    cursor: pointer;
    transition: 2s;
}

section.forecast {
    display: none;
}

/*ARTICLE*/
article {
    background-image:
        linear-gradient(to right,
        #ffffff, #E5E5E5);
    border: 2px solid #D1D1D1;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article h3 {
    font-family: 'Candal', sans-serif;
    color: #222e50;
    margin: 0;
}

article h4 {
    font-family: 'lato', sans-serif;
    margin: .4% 0;
}

article p.town-article img {
    display: block;
    margin: auto;
    max-width: 50%;
    padding: 0 0 20px 0;
}

/*TOWN PAGE EVENTS*/
.aside-events {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 0;
}

.h4-events {
    font-size: 1rem;
    font-family: 'Candal', sans-serif;
    text-align: center;
}

.aside-events ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.aside-events li {
    background-image:
        linear-gradient(to right,
        #222E50, #197BBD);
    color: white;
    margin: 0 15px 15px 15px;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
}

.aside-events-img {
    display: none;
}

.aside-events li:hover {
    background-color: #197BBD;
}

/*STORM CENTER*/
h3.required {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
}

form {
    max-width: 500px;
    margin: auto;
}

fieldset {
    border: none;
    padding: 20px;
}

legend {
    font-family: 'Candal', sans-serif;
    padding-top: 10px;
    font-size: .8rem;
}

label {
    display: block;
}

label span {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: .7rem;
    padding-bottom: 5px;

}

input {
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 4px;
    width: 96%;
}

/* Autofill change default color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset;
}

/* slider styles from W3Schools*/
.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #e4e3e3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    padding: 0;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

div#severity {
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    font-size: .7rem;
    padding-bottom: 5px;
}

#ratingvalue {
    font-family: 'Candal', sans-serif;
    font-weight: 400;
    color: #197BBD;
}

select {
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
}

/*----Radio Buttons----*/
/* The container */
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #38AECC;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label span.dangerAnswer {
    padding-top: .2em;
    font-size: .9em;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

input[type="submit"] {
    max-width: 90%;
    padding: 10px;
    margin: 0 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    background-image:
        linear-gradient(to bottom,
        #222E50, #197BBD);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1rem;
}

input[type="submit"]:active {
    transform: translateY(4px);
}

input[type="submit"]:hover {
    background-image: linear-gradient(to bottom, #4CAF50, #4CAF50);
 }

/*-----HOMEPAGE------*/

div.home-hero {
    position: absolute;
    top: 32%;
    left: 7%;
    color: #fff;
    font-family: 'Candal', sans-serif;
    width: 50%;
    font-size: 4vw;
}

article#homeTowns {
    border: none;
    background-image: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3%;
    max-width: 1000px;
    margin-top: 30px;
    box-shadow: none;
}

#homeTowns div {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-gap: 10px;
    max-width: 500px;
    margin: auto;
}

#homeTowns h5 {
    font-family: 'Candal', sans-serif;
    font-size: 1.2rem;
    color: #222E50;
    margin: 5% 0 0 0;
}

#homeTowns h6 {
    font-family: 'lato', sans-serif;
    color: #79B473;
    font-size: .9rem;
    margin: 10px 0 20px 0;
    padding: 0 10px;

}

#homeTowns p {
    font-size: .9rem;
    margin: 0;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    color: #222e50;
}

#homeTowns p:first-of-type {
    border-top: 1px solid rgba(128, 128, 128, 0.322);
}

img.homePhoto {
    max-width: 100%;
    margin-bottom: 20px;

}

h2.welcomehead {
    margin: 2% 2% 1% 0;
    color: #79B473;
    font-size: 2.3em;
}

.visit-idaho {
    max-width: 1000px;
    margin: auto;
}

.visit-idaho h4 {
    font-family: 'Candal', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #222E50;
    margin-top: 130px;
}

.home-links {
    display: grid;
    grid-gap: 30px;
    justify-content: center;
}

.home-links img {
    max-width: 200px;
}

/*----WEATHER GALLERY----*/

figure {
    background-image:
        linear-gradient(to right,
        #ffffff, #E5E5E5);
}

div.weatherGallery {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr;
}

div.weatherGallery figure img {
    width: 100%;
    margin: 0;
    display: block;
}

div.weatherGallery figure figcaption {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: .7rem;
    padding: 15px 0;
}

/*-----FOOTER-----*/
footer {
    margin-top: 75px;
    clear: both;
}

footer aside {
    border-top: 1px solid rgba(0, 0, 0, .3);
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: .9rem;
    background-image:
        linear-gradient(to right,
        #79B473, rgb(187, 236, 183));
    padding: 20px 0;
    text-align: center;
}

footer aside p {
    padding-bottom: 10px;
    margin: 0;
}

footer i {
    vertical-align: middle;
}

.social-icons {
    max-width: 35px;
    padding-bottom: 20px;
}



div#map {
    max-width: 300px;
    height: 200px;
    margin: auto;
}

canvas {
    position: relative !important;

}

p.footer-bar {
    background-image:
        linear-gradient(to right,
        #222E50, #197BBD);
    padding: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: .7rem;
    text-align: center;
    margin: 0;
    line-height: 20px;
}

p.footer-bar a {
    color: white;
}

#currentdate {
    border-top: 1px solid white;
    padding: 10px 50px;
}

}