@media only screen and (min-width: 55em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    /*HEADER*/
    .header-nocurrent {
        padding-left: 0;
    }

    header h1 {
        font-size: 2.2em;
    }

    header img {
        padding-top: 30px;
    }

    /*NAVIGATION*/
    nav button {
        display: none;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        font-size: 1.2em;
        border: none;
        padding: .6rem 1rem;
    }

    nav ul.hide {
        display: inline-block;
    }

    /*HERO*/
    section.hero {
        max-width: 1000px;
        margin: auto;
    }

    /*5 DAY FORECAST*/
    table {
        margin: auto;
    }

    section.forecast {
        display: block;
        font-family: 'Lato', sans-serif;
        border-radius: .3em;
        padding: 1.2rem;
        text-align: center;
    }

    .forecast th {
        background-color: #197bbd;
        color: #fff;
        font-size: 1.2rem;
        padding: 10px;
    }

    .forecast td,
    .forecast th {
        border: 3px solid #ddd;
    }

    .forecast td {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.4em;
        padding: 20px 45px;
    }




    /*WEATHER GALLERY*/
    div.weatherGallery {
        grid-template-columns: repeat(2, 49%);
        grid-gap: 2%;
    }

    /*ARTICLE*/
    article {
        margin: auto;
        max-width: 1000px;
        padding: 0;
    }

    article p.town-article img {
        width: 400px;
        float: right;
        padding-left: 20px;
    }

    article p {
        padding: 20px;
    }

    article h3 {
        padding: 20px 0 0 20px;
    }

    article h4 {
        padding-left: 20px;
    }

    article#homeTowns {
        grid-template-columns: repeat(3, 1fr);

    }

    /*-----Weather Gallery Grid-----*/
    div.weatherGallery {
        grid-template-columns: repeat(2, 1fr);
    }

    /*FOOTER*/
    footer {
        max-width: 1000px;
        margin: auto auto 20px auto;
        padding-top: 50px;
    }

    footer aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    div.contact {
        padding-top: 30px;
    }

}