/* This main css file contains the default rules and is geared toward the small/phone view */

@import url('https://fonts.googleapis.com/css?family=Candal|Lato');

body {
    font-size: 14px;
}

/*HEADER*/

header {
    text-align: center;
}

div.title {
    text-align: center;
    display: inline-block;
}

header img {
    max-width: 40px;
    padding-top: 20px;
    vertical-align: top;
    margin-right: 10px;
}

header h1 {
    color: #197BBD;
    font-family: 'Candal', sans-serif;
    font-size: 1.6em;
    margin-bottom: 0;
}

.subheading {
    color: #222e50;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    margin-bottom: 20px;
}

/*NAVIGATION*/
nav {
    background-color: #222E50;
    font-family: 'Candal', sans-serif;
    text-align: center;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 15px;
    border-top: 1px solid black;
}

nav ul li a {
    padding: .8rem 2%;
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    justify-content: center;
}

li.active {
    background-color: #79B473;
}

nav ul li:hover {
    background-color: #197BBD;
}

nav ul.hide {
    display: none;
}

/*HERO IMAGE*/

main h2 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 1.8em;
    padding: .3rem 2%;
    text-align: center;
}

main figure {
    margin: 0;
}

section.hero {
    position: relative;
}

img.myphoto {
    width: 100%;
    height: auto;
}

/* SUMMARY */
#weatherDesc {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

img#weather_icon.current {
    vertical-align: sub;
    width: 50px;
}

div#conditions {
    padding-bottom: 15px;
}

div#summary {
    background-color: #79B473;
    opacity: 0.9;
    position: absolute;
    top: 15px;
    left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#summary h3 {
    font-size: .9rem;
    padding: 10px 10px 7px 10px;
    border-bottom: 4px solid #222e50;
}

div#summary p {
    font-family: 'Lato', sans-serif;
    padding: 0 10px;
    font-size: 1rem;
    padding-bottom: 7px;
    margin: 0;
}

section.forecast {
    display: none;
}

/*ARTICLE*/
article {
    background-color: #E5E5E5;
    border: 2px solid #D1D1D1;
    margin: 20px;
    display: flex;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: .8rem 2%;
}

section h3 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 1.7em;
    margin: 0 0 1.5% 0;
}

article h3 {
    font-family: 'Candal', sans-serif;
    color: #222e50;
    margin: 0;
}

article h4 {
    font-family: 'lato', sans-serif;
    margin: .4% 0;
}

article p.town-article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    display: flex;
    margin: auto;
    max-width: 100%;
    padding: 0 0 8% 0;
}

/*-----FOOTER-----*/
footer {
    margin-top: 100px;
    margin-bottom: 20px;
}

footer aside {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1rem;
    background-color: #79b473;
    padding-top: 30px;
    text-align: center;
}

footer aside p {
    padding-bottom: 10px;
    margin: 0;
}

footer i {
    vertical-align: middle;
}

.social-icons {
    max-width: 35px;
    padding-bottom: 20px;
}

p.footer-bar {
    background-color: #222E50;
    padding: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

div#map {
    width: 400px; height: 300px;
    margin: auto;
}

canvas {
    position: relative !important;
}