/* This main css file contains the default rules and is geared toward the small/phone view */

@import url('https://fonts.googleapis.com/css?family=Candal|Lato');

body {
    font-size: 14px;
}

a {
    text-decoration: none;
}

/*HEADER*/

header {
    text-align: center;
    display: flex;
    justify-content: center;
}

header img {
    max-width: 40px;
    padding-top: 20px;
    vertical-align: top;
    margin-right: 10px;
}

header h1 {
    color: #197BBD;
    font-family: 'Candal', sans-serif;
    font-size: 1.6em;
    margin-bottom: 0;
}

.subheading {
    color: #222e50;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    margin-bottom: 20px;
}

/*NAVIGATION*/
nav {
    background-image:
        linear-gradient(to right,
        #222E50, #197BBD);
    font-family: 'Candal', sans-serif;
    text-align: center;

}

nav button {
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: 5s;
}

nav li {
    border-top: 1px solid rgba(0, 0, 0, .2);
}
nav a {
    transition: 1s;
}

nav ul li a {
    padding: 12px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

li.active {
    background-color: #79B473;
}

nav ul li a:hover {
    background-color: #197BBD;
}

nav ul.hide {
    display: none;
}

/*HERO IMAGE*/

main h2 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 1.8em;
    padding: .3rem 2%;
    text-align: center;
}

section.hero {
    position: relative;
}

img.myphoto {
    width: 100%;
    height: auto;
}

/* SUMMARY */

div#summary {
    background-color: #79B473;
    opacity: 0.9;
    position: absolute;
    top: 15px;
    left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#summary h3 {
    margin-bottom: 5px;
    font-family: 'Candal', sans-serif;
    color: #222E50;
    font-size: .8rem;
    padding: 0px 10px 7px 10px;
    border-bottom: 4px solid #222e50;
}

div#summary p {
    font-family: 'Lato', sans-serif;
    padding: 0 10px;
    font-size: .8rem;
    padding-bottom: 7px;
    margin: 0;
}

section.forecast {
    display: none;
}

/*ARTICLE*/
article {
    background-image:
    linear-gradient(to right,
    #ffffff, #E5E5E5);
    border: 2px solid #D1D1D1;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 10px;
}

article h3 {
    font-family: 'Candal', sans-serif;
    color: #222e50;
    margin: 0;
}

article h4 {
    font-family: 'lato', sans-serif;
    margin: .4% 0;
}

article p.town-article img {
    display: block;
    margin: auto;
    max-width: 80%;
    padding: 0 0 8% 0;
}

/*----WEATHER GALLERY----*/

figure {
    background-image:
    linear-gradient(to right,
    #ffffff, #E5E5E5);
}

div.weatherGallery {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr;
}

div.weatherGallery figure img {
    width: 100%;
    margin: 0;
    display: block;
}

div.weatherGallery figure figcaption {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: .7rem;
    padding: 15px 0;
}

/*-----FOOTER-----*/
footer {
    margin-top: 75px;
}

footer aside {
    border-top: 1px solid rgba(0, 0, 0, .3);
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    background-image:
    linear-gradient(to right,
    #79B473, rgb(187, 236, 183));
    padding: 20px 0;
    text-align: center;
}

footer aside p {
    padding-bottom: 10px;
    margin: 0;
}

footer i {
    vertical-align: middle;
}

.social-icons {
    max-width: 35px;
    padding-bottom: 20px;
}

p.footer-bar {
    background-image:
        linear-gradient(to right,
        #222E50, #197BBD);
    padding: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

div#map {
    max-width: 300px;
    height: 300px;
    margin: auto;
}

canvas {
    position: relative !important;
}