/*DEFAULT OR SMALL SIZES*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.link a:link {
    color: #2e8bc5;
    text-decoration: none;
}

.link a:visited {
    color: #2e8bc5;
}

.link a:hover {
    color: #e22828;
}

.link a:active {
    color: #fed04f;
}

/*HEADER/NAVIGATION*/

header {
    border-bottom: 2px solid #000;
    background: #f9f9f9;
}

header input {
    display: none;
}

.logo {
    width: 100%;
    max-width: 200px;
    padding-left: 15px;
}

label[for="toggle"] {
    float: right;
    font-size: 1.4em;
    cursor: pointer;
    margin: 10px 20px;
}

#menu {
    display: none;
    padding: 0;
    margin: 0;
}

#toggle:checked~#menu {
    display: block;
}

nav ul li {
    list-style-type: none;
    border-top: 1px solid rgba(0, 0, 0, 0.116);
}

nav ul li a img {
    display: none;
}

nav ul li a:link {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    color: #2e8bc5;

}

nav ul li a:visited {
    color: #000;
}

nav ul li a:hover {
    color: #117729;
}

nav ul li a:active {
    color: #e22828
}

/*WAYFINDING*/

.wayfinding {
    text-align: center;
    padding-top: 30px;

}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

.wayfinding a:link {
    text-decoration: none;
    color: #000;
}

.wayfinding a:visited {
    color: #2e8bc5;
}

.wayfinding a:hover {
    color: #117729;
}

.wayfinding a:active {
    color: #e22828;
}

main {
    background-size: 1400px;
    padding: 0 0 50px 0;
}

.return {
    margin: 10px 0 20px 0;
}

/* MAIN TABLE PROPERTIES*/

.outer-section {
    margin: 40px 20px 0 20px;
    padding: 10px;
    background: #ebebeb;
}

h3 {
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
}

.inner-section {
    font-size: .7rem;
    margin: 10px;
    padding: 10px;
    background: #fff;
}

table {
    border-collapse: collapse;
    text-align: center;
}

.blue-bar {
    width: 100%;
    background: #2e8bc5;
    height: 40px;
    color: #fff;
    padding-top: 10px;
}


/*SHOPPING CART*/

.item-title {
    font-weight: 800;
}

.color {
    width: 70px;
    height: 20px;
    padding: 5px 5px 20px 5px;
    text-align: center;
}

.black {
    background: black;
    color: #fff;
}

.dk-gray {
    color: #fff;
    background: rgb(105, 104, 104);
}

.lt-gray {
    background: rgb(223, 223, 223);
}

.orange {
    color: #fff;
    background: rgb(255, 126, 51);
}

@media(max-width: 640px) {

    table,
    table td,
    table tr {
        display: block;
        text-align: left;
    }

    td.description {
        margin: 0;
    }

}

table img {
    width: 100%;
    max-width: 100px;
}

tr {
    border-bottom: 1px solid rgb(172, 171, 171);
}

td {
    padding: 10px;
}

td p {
    margin: 0 0 10px 0;
}

td a:link {
    color: #2e8bc5;
    text-decoration: none;
}

td a:visited {
    color: #2e8bc5
}

td a:hover {
    color: #117729;
}

td a:active {
    color: #e22828;
}

.bold {
    font-weight: 800;
}

/*QUANTITY CODE FROM PINKR https://embed.plnkr.co/B5waxZ/*/

/* -- quantity box -- */

.quantity {
    display: inline-block;
    margin: auto;
}

.quantity .input-text.qty {
    text-align: center;
    background-color: transparent;
    border: 1px solid #aaa;
    max-width: 40px;
}

.quantity.buttons_added {
    white-space: nowrap;
    margin-right: 10px;

}

.quantity.buttons_added input {
    vertical-align: top;
    max-width: 25px;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    background-color: #ffffff;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

.quantity-final {
    border: 1px solid #7f7f7f;
    width: 25px;
    height: 25px;
    margin: auto;
}

.quantity-final p {
    margin: auto;
    padding-top: 5px;
}

.icons {
    margin: 0 15px 0 0;
    font-size: 1rem;
}



/*TOOLTIPS FROM W3SCHOOLS*/
.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #7f7f7f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: .8rem;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*CUSTOMER INFO*/

.hidden-field {
    display: none;
}

input {
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #aaa;
    width: 96%;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .8rem;
    color: #e22828;
    text-align: center;
    margin: 10px 0;
}


/*SELECT CODE FROM https://www.filamentgroup.com/lab/select-css.html FILAMENT GROUP*/
.select-css {
    display: block;
    line-height: 1.3;
    padding: 7px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus,
.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px #2e8bc5;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css.condition {
    width: 110px;
}

/*SHIPPING*/
  
  pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
  }
  
  .header {
    padding:20px 0;
    position:relative;
    margin-bottom:10px;
    
  }
  
  .header:after {
    content:"";
    display:block;
    height:1px;
    background:#eee;
    position:absolute; 
    left:30%; right:30%;
  }
  
  .header h2 {
    font-size:3em;
    font-weight:300;
    margin-bottom:0.2em;
  }
  
  .header p {
    font-size:14px;
  }
  
  
  
  #a-footer {
    margin: 20px 0;
  }
  
  .new-react-version {
    padding: 20px 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
    
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
  }
  
  .new-react-version .react-svg-logo {
    text-align: center;
    max-width: 60px;
    margin: 20px auto;
    margin-top: 0;
  }
    
  
  /* Rating Star Widgets Style */
  .rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
    color:#fed04f;
  }
  

span.submitBtn {
    background: #ea2309;
    color: #fff;
    text-decoration: none;
    width: 95%;
    height: 30px;
    display: block;
    text-align: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 0 5px 0;
    border-radius: 4px;
    cursor: pointer
}

span.submitBtn:hover {
    background: #fed04f;
    color: #000;
}

span.submitBtn:active {
    background: #eeeeee;
}

a.submitBtn2 {
    background: #ea2309;
    color: #fff;
    text-decoration: none;
    width: 95%;
    height: 30px;
    display: block;
    text-align: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 0 5px 0;
    border-radius: 4px;
    cursor: pointer
}

a.submitBtn2:hover {
    background: #fed04f;
    color: #000;
}

a.submitBtn2:active {
    background: #eeeeee;
}

/*ITEMIZED ORDER*/

h4 {
    text-align: center;
    color: #e22828;
    background: #eee;
    padding-top: 15px;
}

h4 a:link {
    color: #2e8bc5;
    text-decoration: none;
}

h4 a:visited {
    color: #2e8bc5;
}

h4 a:hover {
    color: #fed04f;
}

h4 a:active {
    color: #117729;
}

/* Customize the label (the container) CODE FROM W3SCHOOLS */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #ea2309;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.shipping p {
    margin-top: 20px;
}

.total {
    font-size: 1.1rem;
    font-weight: 800;
}

/*PAYMENT*/

.summary {
    font-size: .9rem;
    line-height: .5rem;
    padding-left: 20px;
}

.pay-button {
    border: 1px solid #c8d3db;
    width: 100%;
    padding: 5px 0;
    background: #fff;
    text-align: left;
    cursor: pointer;
}

.pay-button img {
    vertical-align: middle;
}

.total-summary {
    font-size: .8rem;
    background: #fff;
}

.total-summary div:nth-child(3) {
    font-weight: 800;
    background: #eee;
}

.amount {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px;
    border: 1px solid #c8d3db;
}

.amount p:nth-child(2) {
    text-align: right;
}

.long-line {
    background: #7f7f7f;
    margin: 40px 0;
    width: 100%;
    height: 3px;
}

.notice {
    font-size: 1.1rem;
    color: #ea2309;
}

.width-1 {
    text-align: center;
}

.width-1 a:link {
    color: #2e8bc5;
    text-decoration: none;
}

.width-1 a:visited {
    color: #000;
}

.width-1 a:hover {
    color: #117729;
}

.width-1 a:active {
    color: #e22828;
}

footer {
    padding: 70px 20px;
    text-align: center;
    height: 200px;
    color: #fff;
    background: #000;
    border-top: 5px solid #000;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
    color: #fff;
}

/*POPUP*/
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 88%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: -380px;
    left: 26%;
    margin-left: -80px;

}

/* Toggle this class - hide and show the popup */
.popup .showPop {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a.next:link {
    color: #000;
    text-decoration: none;
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;

}

a.next:visited {
    color: #000;
}

a.next:hover {
    opacity: .7;
}

a.next:active {
    background: #e22828;
}

.next-box {
    margin: 40px auto;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
}