@media only screen and (min-width: 45em) {

    /*MEDUIM VIEW*/

    div.weatherGallery {
        grid-template-columns: 1fr 1fr;
    }

    article#homeTowns {
        grid-template-columns: repeat(3, 1fr);
    }

    div.home-hero {
        font-size: 4.2vw;
    }

    .visit-idaho h4 {
        margin-top: 0;
    }

    .home-links {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .home-links a {
        justify-self: center;
    }

    /*TOWNPAGE EVENTS*/
    .aside-events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 2px solid #D1D1D1;

    }

    .aside-events h4 {
        grid-column: 1 / 3;
    }

    .aside-events-img {
        display: block;
        max-height: 350px;
        margin: 0 auto;
        padding: 0 0 30px 30px;
    }
    .aside-events li {
       margin-right: 50px;
    }


}