/*----LARGE SCREEN VIEW------*/

@media only screen and (min-width: 64em) {

    body {
        max-width: 1200px;
        margin: auto;
    }

    main figure.myphoto img { margin: .8rem; }

    main figure.myphoto {
        overflow: hidden
    }
/*-----NAVIGATION-----*/

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav ul li a {
        padding: .6rem 2rem;
    }

/*-----WEATHER GALLERY-----*/

    div.weatherGallery {
        grid-template-columns: repeat(3, 32%);
    }
    div.weatherGallery figure:hover {
        box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    }

    article p.town-article img { width: 29.333%; }
}
